.search-box {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 6px 12px;
  border-radius: 10px;
  width: auto;
  line-height: 30px;
  margin-bottom: 30px;
  margin-top: 10px;
}
